<main>
	<%- include('../partials/studentSidebar') %>
	
	<div id="main-wrapper">
			
		<div class="bg-white mb-5 p-3">
			<h5 class="m-0 fw-bold color-theme">Bảng điều khiển</h5>
		</div>
		
		<div class="d-flex gap-3 flex-wrap m-4 text-white">
			
			<div class="bg-primary rounded p-3" style="width: 250px;">
				<div class="fs-1"><%= numStudents %></div>
				<div class="fs-5">sinh viên</div>
			</div>
			
			
			<div class="bg-success rounded p-3" style="width: 250px;">
				<div class="fs-1"><%= numDistinctBooks %></div>
				<div class="fs-5">sách khác nhau trong thư viện</div>
			</div>
			
			<div class="bg-primary rounded p-3" style="width: 250px;">
				<div class="fs-1"><%= numTotalBooks %></div>
				<div class="fs-5">tổng số sách</div>
			</div>
			
			<div class="bg-warning rounded p-3" style="width: 250px;">
				<div class="fs-1"><%= numBooksNotReturned %></div>
				<div class="fs-5">sách chưa trả</div>
			</div>
			
			<div class="bg-danger rounded p-3" style="width: 250px;">
				<div class="fs-1"><%= numBooksOverdue %></div>
				<div class="fs-5">sách quá hạn</div>
			</div>
			
		</div>
	</div>
	
</main>