<main>
	<%- include('../partials/studentSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white p-3">
			<h5 class="m-0 fw-bold color-theme">Sách đã trả</h5>
		</div>
		
		<div class="col col-sm-10 col-12 m-auto my-4" style="max-height: 75%; overflow: auto;">
			<table class="table table-info table-striped table-hover m-0 bg-white">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Tiêu đề sách</th>
						<th scope="col">Tác giả sách</th>
						<th scope="col">Thời gian mượn</th>
						<th scope="col">Thời gian trả</th>
						<th scope="col">Trạng thái</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<previousLoans.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= previousLoans[i].book.title %> </td>
							<td> <%= previousLoans[i].book.authors %> </td>
							<td> <%= previousLoans[i].issueTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
							<td> <%= previousLoans[i].returnTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
							<td class="fw-bold text-returned"> <%= previousLoans[i].status %> </td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		
	</div>
</main>